{% extends './base.html'%}
{% block title %} Cursos {% endblock %}


      

{% block body%}
    <h1>Inscripción de curso</h1>
    <form method="post">
        <label>Nombre:</label>
        <input type="text" name="nombre"><br>
        <label>Apellido:</label>
        <input type="text" name="apellido"><br>
        <label>Curso:</label>
        <select name="curso">
            <option value="">Seleccione un curso</option>
            {% for curso in cursos %}
              <option value="{{ curso }}">{{ curso }}</option>
            {% endfor %}
          </select>
         <p></p>
        <input type="submit" value="Inscribirse">
    </form>

  

{% endblock%}
