{% extends './base.html'%}
{% block title %} Registro de Usuarios {% endblock %}
      

{% block body%}
<h1>Registro de usuarios</h1>
<form method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre"><br>
    <label>Apellido:</label>
    <input type="text" name="apellido"><br>
    <label>Email:</label>
    <input type="email" name="email"><br>
    <label>Password:</label>
    <input type="password" name="password"><br>
    <input type="submit" value="Registrar">
</form>

  

{% endblock%}
